<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reestablecimiento de contraseña</title>
    <style>
    </style>
  </head>
  <body>
    <a href="http://127.0.0.1:5000/">
      <img
        src="https://res.cloudinary.com/dbh92pwr9/image/upload/v1669098617/HonduMarket/logo.png"
        alt="HonduMarket"
      />
    </a>

    <br />
    <br />

    <h1>Hola, {{firstName}} {{lastName}}</h1>

    <br />
    <br />

    <p>Hemos recibido una solicitud para reestablecer la contraseña de tu cuenta
      HonduMarket asociada a
      {{email}}. Ningún cambio se ha hecho a tu cuenta todavía.</p>
    <p>Puedes reestablecer tu contraseña haciendo click en el siguiente enlace:</p>
    <a href="{{link}}">Reestablecer contraseña</a>

    <br />
    <br />

    <p>Si no has sido tu quién ha solicitado esto, por favor déjanos saber
      inmediatamente respondiendo a este correo.</p>
    <br />
    <br />

    <p>Atentamente,<br />el equipo de HonduMarket.</p>
  </body>
</html>