<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HonduMarket</title>
    <style>
    </style>
  </head>
  <body>
    <a href="http://127.0.0.1:5000/">
      <img
        src="https://res.cloudinary.com/dbh92pwr9/image/upload/v1669098617/HonduMarket/logo.png"
        alt="HonduMarket"
      />
    </a>

    <br />
    <br />

    <h2>¡Hola, {{user.first_name}} {{user.last_name}}!</h2>
    <p>
      {{body}}
    </p>

    <br />
    <br />

    <p>Atentamente,<br />el equipo de HonduMarket.</p>
  </body>
</html>